body {
	color: black;
}

td, th {
	border-bottom-color: black;
}

.online {
	color: blue;
}

.offline {
	color: black;
}

a, a:focus, a:hover {
	color:inherit;
}

a:hover {
	border-width: 1px;
	border-style: solid;
	border-color: initial;
}